@model StoreModel

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Stores.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Stores");
}

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.Stores.AddNew")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Configuration.Stores.BackToList")</a>
            </small>
        </h1>
        <form asp-controller="Store" asp-action="GetExternalStore" method="post" id="store-getexternal">
            <div class="pull-right">
                <div class="pull-right">
                    <nop-editor asp-for="ExternalStoreCode" />
                    <span asp-validation-for="ExternalStoreCode"></span>
                </div>
                <button type="submit" name="getstoreinfo" class="btn bg-blue">
                    <i class="fa fa-search"></i>
                    @T("Admin.Common.GetStoreInfo")
                </button>
            </div>
        </form>
        <form asp-controller="Store" asp-action="Create" method="post">

            <div class="pull-right">
                <button type="submit" name="save" class="btn bg-blue">
                    <i class="fa fa-floppy-o"></i>
                    @T("Admin.Common.Save")
                </button>
                <button type="submit" name="save-continue" class="btn bg-blue">
                    <i class="fa fa-floppy-o"></i>
                    @T("Admin.Common.SaveContinue")
                </button>
                @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.StoreDetailsButtons })
            </div>
            <br />
            @await Html.PartialAsync("_CreateOrUpdate", Model)
        </form>
    </div>